{% extends 'main/base.html' %}
{% load static %}

{% block title %}
  Add Service | HIMS
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="widget-area-2 proclinic-box-shadow">
      <h3 class="widget-title">Add Service</h3>
      <form method="post" action="">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">{{ form.name.label_tag }}
            {{ form.name }}</div>
          <div class="form-group col-md-6">{{ form.price.label_tag }}
            {{ form.price }}</div>
          <div class="form-group col-md-6">{{ form.duration.label_tag }}
            {{ form.duration }}</div>
          <div class="form-group col-md-12">{{ form.description.label_tag }}
            {{ form.description }}</div>
          <div class="form-group col-md-12">{{ form.special_notes.label_tag }}
            {{ form.special_notes }}</div>
          <div class="form-group col-md-6 mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            <a href="{% url 'service_list' %}" class="btn btn-secondary btn-lg">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
