{% extends 'main/base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

<div class="container mt-0">
    <div class="row align-items-center">
        <!-- Dashboard Title on the Left -->
        <div class="col-md-2 text-start">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
        </div>

        <!-- Quick Statistics in the Middle -->
        <div class="col-md-6 text-center">
            <h3 class="block-title">Statistics</h3>
        </div>

        <!-- Empty column to balance the layout -->
        <div class="col-md-4"></div>
    </div>
</div>
<br>


<!-- Main Content -->
<div class="container home">
    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-4">
            <div class="widget-area shadow p-3 mb-5 bg-white rounded">
                <div class="d-flex align-items-center">
                    <i class="bi bi-person-circle display-6"></i>
                    <div class="ml-3">
                        <h4 class="widget-title">Patients</h4>
                        <span class="h2 text-primary">520</span>
                        <p class="text-success mb-0">
                            <i class="bi bi-arrow-up"></i> +18% Increased
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Widget Item -->

        <!-- Widget Item -->
        <div class="col-md-4">
            <div class="widget-area shadow p-3 mb-5 bg-white rounded">
                <div class="d-flex align-items-center">
                    <i class="bi bi-bar-chart-line display-6"></i>
                    <div class="ml-3">
                        <h4 class="widget-title">Appointments</h4>
                        <span class="h2 text-info">2365</span>
                        <p class="text-danger mb-0">
                            <i class="bi bi-arrow-down"></i> +8% Increased
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Widget Item -->

        <!-- Widget Item -->
        <div class="col-md-4">
            <div class="widget-area shadow p-3 mb-5 bg-white rounded">
                <div class="d-flex align-items-center">
                    <i class="bi bi-currency-dollar display-6"></i>
                    <div class="ml-3">
                        <h4 class="widget-title">Total Revenue</h4>
                        <span class="h2 text-warning">$7580</span>
                        <p class="text-success mb-0">
                            <i class="bi bi-arrow-up"></i> +10% Increased
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Widget Item -->
    </div>

    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-6">
            <div class="widget-area shadow p-3 mb-5 bg-white rounded">
                <h3 class="widget-title">Appointments Year by Year</h3>
                <div id="lineMorris" class="chart-home"></div>
            </div>
        </div>
        <!-- /Widget Item -->

        <!-- Widget Item -->
        <div class="col-md-6">
            <div class="widget-area shadow p-3 mb-5 bg-white rounded">
                <h3 class="widget-title">Patients Year by Year</h3>
                <div id="barMorris" class="chart-home"></div>
            </div>
        </div>
        <!-- /Widget Item -->
    </div>

    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-12">
            <div class="widget-area shadow p-3 mb-5 bg-white rounded">
                <h3 class="widget-title">Appointments</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Patient Name</th>
                                <th>Doctor</th>
                                <th>Check-Up</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ali</td>
                                <td>Ahmad</td>
                                <td>Orthoped</td>
                                <td>12-10-2024</td>
                                <td>11:10</td>
                                <td><span class="badge bg-success">Completed</span></td>
                            </tr>
                            <tr>
                                <td>Vali</td>
                                <td>Samad</td>
                                <td>Cardiology</td>
                                <td>24-10-2024</td>
                                <td>15:45</td>
                                <td><span class="badge bg-warning">Pending</span></td>
                            </tr>
                            <tr>
                                <td>Ashur</td>
                                <td>Kurbon</td>
                                <td>Neurology</td>
                                <td>01-08-2024</td>
                                <td>9:00</td>
                                <td><span class="badge bg-danger">Cancelled</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Widget Item -->
    </div>

    <div class="row">
        <!-- Widget Item -->
        <div class="col-sm-6">
            <div class="widget-area shadow p-3 mb-5 bg-white rounded">
                <h3 class="widget-title">Appointments Status</h3>
                <div id="donutMorris" class="chart-home"></div>
            </div>
        </div>
        <!-- /Widget Item -->

        <!-- Widget Item -->
        <div class="col-md-6">
            <div class="widget-area shadow p-3 mb-5 bg-white rounded">
                <h3 class="widget-title">Doctors Availability</h3>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Doctor</th>
                                <th>Speciality</th>
                                <th>Availability</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ahmad</td>
                                <td>Orthoped</td>
                                <td><span class="badge bg-success">Available</span></td>
                            </tr>
                            <tr>
                                <td>Samad</td>
                                <td>Cardiology</td>
                                <td><span class="badge bg-warning">On Leave</span></td>
                            </tr>
                            <tr>
                                <td>Kurbon</td>
                                <td>Neurology</td>
                                <td><span class="badge bg-danger">Not Available</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Widget Item -->
    </div>
</div>
<!-- /Main Content -->

{% endblock %}
