{% load static %}
{% load role_tags %}
{% load permissions %}
<!-- Sidebar -->
<nav id="sidebar" class="hims-bg">
  <ul class="list-unstyled components">
    {% if request.user|has_role:'Admin' %}
      <li>
        <a href="{% url 'admin_dashboard' %}"><span class="fas fa-home"></span>Dashboard</a>
      </li>
    {% endif %}

    {% if request.user|has_role:'Doctor' %}
      <li>
        <a href="{% url 'doctor_dashboard' %}"><span class="fas fa-home"></span>Dashboard</a>
      </li>
    {% endif %}
    {% if request.user|has_role:'Nurse' %}
      <li>
        <a href="{% url 'nurse_dashboard' %}"><span class="fas fa-home"></span>Dashboard</a>
      </li>
    {% endif %}
    {% if request.user|has_role:'Receptionist' %}
      <li>
        <a href="{% url 'receptionist_dashboard' %}"><span class="fas fa-home"></span>Dashboard</a>
      </li>
    {% endif %}
    <!-- Patient Section -->
    {% if request.user|has_multi_role:'Receptionist,Doctor,Nurse,Admin' %}
      <li>
        <a href="#patientSubmenu" data-toggle="collapse" aria-expanded="false">
          <span class="fas fa-user-injured"></span> Patients
          <span class="fas fa-caret-down float-end"></span>
        </a>
        <ul class="collapse list-unstyled" id="patientSubmenu">
          <li>
            <a href="{% url 'patient_list' %}"><span class="fas fa-list"></span> All Patients</a>
          </li>
          {% if request.user|has_role:'Receptionist,Doctor,Nurse' %}
            <li>
              <a href="{% url 'add_patient' %}"><span class="fas fa-plus-circle"></span> Add Patient</a>
            </li>
          {% endif %}
        </ul>
      </li>
    {% endif %}
    <!-- Appointment Section -->
    {% if request.user|has_multi_role:'Receptionist,Doctor,Nurse,Admin' %}
      <li>
        <a href="#appointmentSubmenu" data-toggle="collapse" aria-expanded="false">
          <span class="fas fa-calendar-alt"></span> Appointments
          <span class="fas fa-caret-down float-end"></span>
        </a>
        <ul class="collapse list-unstyled" id="appointmentSubmenu">
          <li>
            <a href="{% url 'appointments_list' %}"><span class="fas fa-list"></span> All Appointments</a>
          </li>
          <li>
            <a href="{% url 'create_appointment' %}"><span class="fas fa-plus-circle"></span> Create Appointment</a>
          </li>
          <li>
            <a href="{% url 'calendar_view' %}"><span class="fas fa-calendar"></span> Calendar</a>
          </li>
        </ul>
      </li>
    {% endif %}
    {% if request.user|has_multi_role:'Receptionist,Doctor,Nurse,Admin' %}
      <li>
        <a href="#admissionSubmenu" data-toggle="collapse" aria-expanded="false">
          <span class="fas fa-hospital-user"></span> Admissions
          <span class="fas fa-caret-down float-end"></span>
        </a>
        <ul class="collapse list-unstyled" id="admissionSubmenu">
          <li>
            <a href="{% url 'ipd_admissions_list' %}"><span class="fas fa-list"></span> All Admissions</a>
          </li>
          <li>
            <a href="{% url 'admit_patient' %}"><span class="fas fa-plus-circle"></span> Admit to IPD</a>
          </li>
          <li>
            {% comment %} <a href="{% url 'occupied_beds' %}"><span class="fas fa-bed"></span> Occupied Beds</a> {% endcomment %}
          </li>
        </ul>
      </li>
    {% endif %}

    <!-- Finance Section -->
    {% if request.user|has_multi_role:'Admin' %}
      <li>
        <a href="#nav-finance" data-bs-toggle="collapse" aria-expanded="false">
          <span class="fas fa-money-bill-alt"></span> Finance
          <span class="fas fa-caret-down float-end"></span>
        </a>
        <ul class="collapse list-unstyled" id="nav-finance">
          <li>
            <a href="{% url 'payment_report' %}"><span class="fas fa-list"></span> Payment Reports</a>
          </li>
          <li>
            <a href="{% url 'invoice_summary' %}"><span class="fas fa-file-invoice"></span> Invoice Summary</a>
          </li>
          <li>
            <a href="{% url 'doctor_earnings_report' %}"><span class="fas fa-dollar-sign"></span> Doctor Earnings Reports</a>
          </li>
        </ul>
      </li>
    {% endif %}
    <!-- Inventory Section -->
    {% if request.user|has_role:'Admin' %}
      <li>
        <a href="#nav-inventory" data-bs-toggle="collapse" aria-expanded="false">
          <span class="fas fa-money-bill-alt"></span> Inventory
          <span class="fas fa-caret-down float-end"></span>
        </a>
        <ul class="collapse list-unstyled" id="nav-inventory">
          <li>
            <a href="{% url 'medication_list' %}"><span class="fas fa-file-invoice"></span>Medication</a>
          </li>
          <li>
            <a href="{% url 'consumable_list' %}"><span class="fas fa-dollar-sign"></span>Consumables</a>
          </li>
        </ul>
      </li>
    {% endif %}
    <!-- Room Management Section -->
    {% if request.user|has_multi_role:'Doctor,Admin' %}
      <li>
        <a href="#nav-rooms" data-bs-toggle="collapse" aria-expanded="false">
          <span class="fas fa-bed"></span> Room Management
          <span class="fas fa-caret-down float-end"></span>
        </a>
        <ul class="collapse list-unstyled" id="nav-rooms">
          <li>
            <a href="{% url 'list_room' %}"><span class="fas fa-list"></span> All Rooms</a>
          </li>
          <li>
            <a href="{% url 'list_floor' %}"><span class="fas fa-plus-circle"></span>Floors</a>
          </li>
          <li>
            <a href="{% url 'list_bed' %}"><span class="fas fa-edit"></span> Beds</a>
          </li>
        </ul>
      </li>
    {% endif %}

    <!-- Bed List for Nurse -->
    {% if request.user|has_role:'Nurse' %}
      <li>
        <a href="#nav-rooms" data-bs-toggle="collapse" aria-expanded="false">
          <span class="fas fa-bed"></span> Bed Management
          <span class="fas fa-caret-down float-end"></span>
        </a>
        <ul class="collapse list-unstyled" id="nav-rooms">
          <li>
            <a href="{% url 'list_bed' %}"><span class="fas fa-list"></span> Beds</a>
          </li>
        </ul>
      </li>
    {% endif %}
    <!-- Departments Section -->
    {% if request.user|has_role:'Admin' %}
      <li>
        <a href="#nav-departments" data-bs-toggle="collapse" aria-expanded="false">
          <span class="fas fa-building"></span> Departments
          <span class="fas fa-caret-down float-end"></span>
        </a>
        <ul class="collapse list-unstyled" id="nav-departments">
          <li>
            <a href="{% url 'department_list' %}"><span class="fas fa-list"></span> All Departments</a>
          </li>
          <li>
            <a href="{% url 'service_list' %}"><span class="fas fa-concierge-bell"></span> Services</a>
          </li>
          <li>
            <a href="{% url 'list_doctor' %}"><span class="fas fa-user-md"></span> Doctors</a>
          </li>
          <li>
            <a href="{% url 'list_nurse' %}"><span class="fas fa-user-nurse"></span> Nurses</a>
          </li>
        </ul>
      </li>
    {% endif %}

    <!-- User Management Section -->
    {% if request.user|has_role:'Admin' %}
      <li>
        <a href="#nav-roles" data-bs-toggle="collapse" aria-expanded="false">
          <span class="fas fa-users-cog"></span> User Management
          <span class="fas fa-caret-down float-end"></span>
        </a>
        <ul class="collapse list-unstyled" id="nav-roles">
          <li>
            <a href="{% url 'user_list' %}"><span class="fas fa-list"></span> Users List</a>
          </li>
          <li>
            <a href="{% url 'add_user' %}"><span class="fas fa-user-plus"></span> Add User</a>
          </li>
          <li>
            <a href="{% url 'role_list' %}"><span class="fas fa-user-tag"></span> Roles List</a>
          </li>
          <li>
            <a href="{% url 'add_role' %}"><span class="fas fa-plus-circle"></span> Add Role</a>
          </li>
        </ul>
      </li>
    {% endif %}

    <!-- Settings Section -->
    {% if request.user|has_role:'Admin' %}
      <li>
        <a href="#nav-pages" data-bs-toggle="collapse" aria-expanded="false">
          <span class="fas fa-cog"></span> Settings
          <span class="fas fa-caret-down float-end"></span>
        </a>
        <ul class="collapse list-unstyled" id="nav-pages">
          <li>
            <a href="#"><span class="fas fa-user-cog"></span> Edit Profile</a>
          </li>

          <li>
            <a href="#"><span class="fas fa-database"></span> Backup</a>
          </li>
        </ul>
      </li>
    {% endif %}
  </ul>

  <!-- Sidebar Help Section -->
  {% comment %} <div class="sidebar-help animated fadeIn">
    <h5><span class="fas fa-comments"></span> Need Help</h5>
    <h6><span class="fas fa-mobile-alt"></span> +992 92 764 11 17</h6>
    <h6><span class="fas fa-envelope"></span> mkoziev@na.edu</h6>
  </div> {% endcomment %}
</nav>
<!-- /Sidebar -->
