{% extends "main/base.html" %}
{% block title %}{{ department.name }} Details{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h3 class="widget-title">{{ department.name }}</h3>
    <p>{{ department.description }}</p>

    <h4>Services</h4>
    <ul>
        {% for service in department.services.all %}
        <li>{{ service.name }} - ${{ service.price }}</li>
        {% endfor %}
    </ul>

    <h4>Doctors</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Specialty</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in doctors_with_status %}
            <tr>
                <td>{{ entry.doctor.first_name }} {{ entry.doctor.last_name }}</td>
                <td>{{ entry.doctor.doctor_profile.specialty }}</td>
                <td>{{ entry.status.status  }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No doctors in this department.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4>Nurses</h4>
    <ul>
        {% for nurse in department.nurses.all %}
        <li>{{ nurse.get_full_name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
